<!DOCTYPE html>
<html>
<head>
    <title>Catálogo - MACUIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <a href="{{ url_for('ver_carrito') }}" class="carrito-flotante">
    🛒
</a>


<div class="dashboard-container">

<header class="dashboard-header">
    <h1>MACUIN</h1>
    <div class="user-info">
        <a href="{{ url_for('dashboard') }}" class="btn-logout">Volver</a>
    </div>
</header>

<main class="dashboard-content">

<h2>Catálogo</h2>

<div class="dashboard-cards">

{% for producto in productos %}
<div class="card">

    <img src="{{ url_for('static', filename='img/' + producto.imagen) }}" 
         style="width:100%; height:200px; object-fit:contain;">

    <h3>{{ producto.nombre }}</h3>

    <p>$ {{ producto.precio }} MXN</p>

    <a href="{{ url_for('detalle_producto', id=producto.id) }}" 
       class="btn-login"
       style="display:block; text-align:center; margin-top:15px;">
        Ver más
    </a>

</div>
{% endfor %}

</div>

</main>
</div>

</body>
</html>